*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
    font-weight: bold;
    font-size: 30px;    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: gray;
}
.time{
    display: flex;
    gap: 40px;
    color :#fff;

}